<settings>
<servers>
<server>
<id>JenkinsFile</id>
<username>admin</username>
<password>admin123</password>
</server>
<server>
<id>Jenkinsfile-Snap</id>
<username>admin</username>
<password>admin123</password>
</server>
<server>
<id>TomcatServer</id>
<username>deployer</username>
<password>deployer</password>
</server>
</servers>
</settings>
